@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    color: #20303c;
    font-family: 'roboto';
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
}

body a {
    text-decoration: none;
    color: #20303c;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    z-index: 50;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: 400;
    margin-right: 6px;
    display: block;
    z-index: 3;
}

.header_list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header_list li {
    list-style: none;
    margin: 0 0 0 20px;
}
.header_link {
    font-size: 16px;
    text-decoration: none;     
    transition: 0.8s;  
}

a.header_link:hover {
    color: #8B98A7;
    transition: 0.8s;
}

.header-burger {
    display: none;
}


.title-page {
    background-image: url("./img/main-bg.jpg");
    background-color: #adb8fa;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-wrapper h1 {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Georgia;
    font-weight: 500;
    margin: 0px;
}

.main-wrapper h3 {
    font-size: 24px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 10px 50px 10px;
}

.button-works {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    transition: border 1s;
}

.button-works:hover {
    background-color: #20303c;
    border-color: #20303c;
    transition: 1s;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0px auto;
}

.portfolio-wrap1 {
    background-image: url("./img/editorial.webp");
    background-color: #adb8fa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.portfolio-wrap2 {
    background-image: url("./img/servise.webp");
    background-color: #adb8fa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

.portfolio-wrap3 {
    background-image: url("./img/bakery.webp");
    background-color: #adb8fa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.portfolio h3 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Georgia;
    font-weight: 500;
    margin: 20px;
    color: #fff;
    padding-top: 85px;
}

.about {
    display: flex;
    max-width: 1366px;
    margin: 0px auto;
}

.about .img-wrap {
    flex-basis: 50%;
}

.about img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about .content {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    background-color: #f0f3f6;
    flex-basis: 50%;
}

.about h2 {
    font-weight: 400;
    font-size: 50px;
}

.about p {
    color: #545555;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}

.about h4 {
    font-size: 20px;
    font-weight: 400;
    color: #303131;
}

.books {
    display: flex;
    background-color: #f0f3f6;
    max-width: 1366px;
    margin: 20px auto;
    align-items: center;
}

.books .content {
    display: flex;
    flex-direction: column;
    padding: 120px;
    background-color: #f0f3f6;
    flex-basis: 50%;
}

.books .content .price-wrap {
    display: flex;
    align-items: center;
}

.books .content .price-wrap .button-works {
    border-color: #20303c;
    color: #20303c;
    padding: 10px 30px;
    margin-left: 20px;
}

.books .content .price-wrap .button-works:hover {
    color: #fff;
}

.books h2 {
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
}

.books p {
    color: #545555;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}

.books .price {
    font-weight: 400;
    font-size: 60px;
    color: #20303c;
    position: relative;
    margin-right: 34px;
}

.books .img-wrap {
    flex-basis: 50%;
}

.books img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.price sup {
    font-size: 16px;
    color: #20303c;
    top: -10px;
    position: absolute;
}

.blogs {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.blog {
    display: flex;
    background-color: #f0f3f6;
    max-width: 1020px;
    margin: 20px auto;
}

.blogs .img-wrap {
    flex-basis: 50%;
}

.blogs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .head-avatar img {
    width: 40px;
}

.blogs .button {
    width: 15px;
    height: 15px;
}

.blogs .button img {
    display: block;
}

.blogs .content-blog {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}

.blogs .date-wrap {
    display: flex;
}

.blogs .head-avatar p.avatar-name {
    color: #545555;
    font-size: 14px;
}

.blogs .head-avatar .date-wrap p {
    margin-right: 10px;
    color: #545555;
    font-size: 12px;
}

.blogs .head-avatar {
    display: flex;
    align-items: center;
}

.blogs .head-avatar p {
    margin: 0px;
}

.blogs .text-blog {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #545555;
}

.blogs .text-blog h3 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 0px;
}

.blogs .text-blog p {
    color: #545555;
}

.footer-blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text-wrap {
    display: flex;
}

.footer-blog p {
    color: #545555;
    font-size: 12px;
    margin-right: 10px;
}

.footer-blog .button {
    display: flex;
}

.contakt {
    display: flex;
    max-width: 1366px;
    margin: 10px auto;
    background-color: #f0f3f6;
    align-items: center;
}

.contakt .img-wrap {
    flex-basis: 50%;
}

.contakt img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.contakt .contakt-wrap {
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 60px 120px
}

.contakt h3 {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

.contakt p {
    color: #545555;
    font-weight: 400;
    text-align: left;
    font-size: 15px;
    margin-bottom: 25px;
}

.contakt p.contakt-par {
    margin-bottom: 40px;
}

.contakt form {
    display: flex;
    flex-direction: column;
}

.contakt input {
    max-width: 260px;
    height: 26px;
    padding-left: 24px;
    margin-bottom: 10px;
}

.contakt input:hover {
    border-width: 2px;
    transition: border 0.5s;
}

.contakt textarea {
    max-width: 260px;
    max-height: 260px;
    padding-left: 24px;
    margin-bottom: 10px;
}

.contakt textarea {
    max-width: 260px;
    max-height: 260px;
    padding-left: 24px;
    margin-bottom: 10px;
}

.contakt input.contakt-btn {
    color: #fff;
    padding: 0px;
    background-color: #20303c;
    border-color: #20303c;
    transition: border 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 290px;
    max-width: none;
}


.contakt input.contakt-btn:hover {
    background-color: #20303c;
    border-color: #20303c;
    transition: 1s;
    border: 1px solid #fff;
}

footer {
    background-color: #fff;
    min-height: 54px;
    width: 100%;
}

.soc-links {
    display: flex;
    justify-content: center;
}

.soc-links a {
    margin: 15px;
    padding: 3px;
    border: 1px solid #fff;
    width: 28px;
    height: 28px;
    transition: border 1s;
}

.soc-links a:hover {
    border-color: black;
}

@media(max-width: 767px) {

    

    body.lock {
        overflow: hidden;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header-burger span {
        background-color: #303131;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        z-index: 3;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before,
    .header-burger::after{
        content: "";
        background-color: #303131;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger::after {
        bottom: 0;
    }

    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active span{
        transform: scale(0);
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 70px 0 0 10px;
        transition: all 0.3s;
        overflow: auto;
    }

    .header_menu.active {
        top: 0;
    }

    .header_list {
        display: block;
        padding: 0;
    }

    .header_list li {
        margin: 0 0 20px 0;
    }

    .header_link {
        font-size: 18px;
    }

    .main-wrapper h1 {
        font-size: 48px;
    }

    .main-wrapper h3 {
        font-size: 21px;
    }

    .portfolio {
        flex-direction: column;
    }

    .portfolio-wrap1 {
        width: 100%;
        height: 300px;
    }

    .portfolio-wrap2 {
        width: 100%;
        height: 300px;
        margin: 20px 0;
    }

    .portfolio-wrap3 {
        width: 100%;
        height: 300px;
    }

    .about {
        flex-direction: column;
    }

    .about .content {
        padding: 20px;
    }

    .about h2{
        margin-bottom: 10px;
    }
    .about h4{
        margin-bottom: 0px;
    }

    .books {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .books .content {
        padding: 0px 34px;

    }

    .books .img-wrap {
        width: 318px;
    }

    .blogs .content-blog {
        padding: 30px;
    }

    p.price {
        margin-bottom: 30px;
    }

    .contakt {
        flex-direction: column;
    }

    .contakt .contakt-wrap {
        padding: 30px;
    }
}